*
{
	color:black;
}

a
{
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family:Georgia, serif;
}

p
{
	font-family:Verdana, Geneva, sans-serif;
}

body
{
	margin:0px;
}

#wrapper
{
	width:100%;
	margin-right:auto;
	margin-left:auto;
}

/*The header has a gradient background image which goes from left to right, transitioning from white to light gray.*/
/*Position is fixed, which pins the main navigation to the top of the browser window. This makes it easier to access than having to scroll to the top or bottom of the page.*/

.header
{
	position:fixed;
	width:100%;
	text-align:left;
	/*background-image:-webkit-linear-gradient(left,white,#CCCCCC);
	background-image:-moz-linear-gradient(left,white,#CCCCCC);
	background-image:-o-linear-gradient(left,white,#CCCCCC);
	background-image:-ms-linear-gradient(left,white,#CCCCCC);*/
	background-color:white;
	z-index:1;
	opacity:0.5;
    	filter:alpha(opacity=50); /* For IE8 and earlier */
}

.mainnav
{
	position:relative;
	font-size:20px;
	float:right;
	margin:0px 0px 0px 0px;
	text-align:center;
	padding:20px;
}

/*The 'white-space:nowrap' property allows single links with multiple words to stay on one line no matter how narrow the window.*/

.mainnav a
{
	color:#003366;
	white-space:nowrap;
}

.mainnav a:hover
{
	color:gray;
}

.header img
{
	position:relative;
	float:left;
	margin-left:25px;
	margin-right:0px;
	margin-bottom:-8px;
	margin-top:-16px;
}

.headercontact
{
	position:relative;
	float:left;
	margin:-11px 0px 0px 60px;
	font-size:14px;
	line-height:20px;
}

.headercontact p
{
	color:#404040;
}

.linkmargin
{
	margin-right:40px;
}

.linkmargin2
{
	margin-right:20px;
}

.pagebanner
{
	text-align:center;
	border-bottom-style:solid;
	border-bottom-width:3px;
}

/*The text shadow property adds a back shadow to text. In this case, subtle shadow is used to create an outline effect around the text.*/

.pagebanner h1
{
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	padding-top:200px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
	margin-top:0px;
	margin-bottom:0px;
	font-size:100px;
	color:white;
	text-shadow:
	    -1px -1px 0 black,
	    1px -1px 0 black,
	    -1px 1px 0 black,
	    1px 1px 0 black;
}

.body
{
	position:relative;
	width:80%;
	padding:30px 50px;
	font-size:17px;
	border-style:solid;
	border-width:2px;
	border-color:#CCCCCC;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	line-height:29px;
	font-family:Verdana, Geneva, sans-serif;
	overflow:hidden;
}

.body h1, h2, h3, h4, h5, h6
{
	color:gray;
	font-size:2em;
}

.body a
{
	color:#003366;
	font-family:Verdana, Geneva, sans-serif;
}

.body a:hover
{
	color:gray;
}

.footer
{
	position:relative;
	padding:20px 40px 20px 40px;
	clear:both;
	background-color:#CCCCCC;
	font-size:14px;
}

.footer a
{
	color:#003366;
	font-size:16px;
}

.footer a:hover
{
	color:gray;
}

.footer ul
{
	list-style-type:none;
}

.footer li
{
	margin-bottom:10px;
}

.footernav1, .footernav2, .footernav3, .footernav4
{
	padding:0px;
	position:relative;
	float:left;
	margin-right:50px;
}

.footernav5
{
	padding:0px;
	position:relative;
	float:right;
	margin-right:0px;
}

.validator
{
	clear:both;
	text-align:center;
}

.footerheader
{
	font-style:oblique;
	font-size:17px;
}

.social
{
	background-color:#CCCCCC;
	padding:20px 40px 20px 40px;
	font-size:14px;
	letter-spacing:1px;
	font-weight:bold;
	vertical-align:middle;
}

.social img
{
	margin-right:20px;
	float:right;
}

.wrapper2
{
	width:100%;
}

.servicelinks
{
	text-align:center;
	padding:40px 10px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	border:2px solid black;
	border-radius:15px;
	width:260px;
	display:inline-block;
	font-weight:bold;
}

.servicelinks a
{
	background-color:white;
	padding:10px;
	border:1px solid black;
	border-radius:80px;
	display:inline-block;
}

.servicelinkscontainer
{
	text-align:center;
}

.sublinks
{
	text-align:center;
	font-weight:bold;
}

.sublinks li
{
	display:inline;
	list-style-type:none;
	padding-left:0px;
	padding-right:40px;
}

.sublinksheading
{
	text-align:center;
}

.linebreak
{
	border-bottom:1px solid gray;
}

/*Below is further styling of the main navigation as well as implementation of a dropdown menu by utilizing the 'display' property.*/

.mainnav ul
{
	display:inline;
	margin:0px;
	padding:0px;
}

.mainnav ul li
{
	display:inline-block;
}

.mainnav ul li:hover ul
{
	display:block;
}

.mainnav ul li ul
{
	position:absolute;
	display:none;
}

.mainnav ul li ul li
{ 
	background:white;
	display:block;
}

.mainnav ul li ul li a
{
	display:block;
}

.mainnav ul li ul li:hover
{
	background:white;
}

.navdropdown
{
	padding:10px;
	border-bottom:1px solid #CCCCCC;
}
